.btn-active:focus{
    background-color: #2196F3 !important;
    color: #fff !important;
}

.position-absolute{
    background-color: #fff !important;
    z-index: 10;
    right: 0;
    /* width: 50%; */
    width: 0 !important;
    /* overflow: hidden; */
    opacity: 0;
    transition: all 1s;
}

.img-table{
    width: 80px;
    height: 80px;
}
.active{
    width: 100% !important;
    /* overflow:visible; */
    opacity: 1;
    /* z-index: 10; */
    /* top: 0; */
    width: 80% !important;
}
.cursor-pointer{
    cursor: pointer;
}
